:root {
  --side-length: 16rem;
  --side-height: 4rem;
}

body {
  background: #f0f0f0;
}

.root {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100vw;
  height: 100vh;  
}

.side-container {
  position: fixed;
  flex: 0 0 250px;
  height: 100vh;
  width: var(--side-length);
  background: #2d2d2d;
}

.content-container {
  margin-left: var(--side-length);
  max-width: calc(100% - var(--side-length));
  flex-grow: 1;
  padding: 3em;
}

.sidebar {
  padding: 3em 1em 1em 1em;
}
  

@media screen and (max-width: 720px) {
  .root {
    flex-direction: column;
  }

  .side-container {
    flex: 0;
    position: initial;
    width: 100vw;
    height: var(--side-height);
  }

  .tag-list {
    display: none;
  }

  .sidebar {
    padding: 0.5em 0;
  }
  
  .sidebar hr {
    display: none;
  }

  .sidebar nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .sidebar nav span {
    font-size: 14px;
    font-weight: 500;
  }

  .content-container {
    padding: 0;
    margin-left: 0;
    max-width: 100%;
  }

  .content__thumb_container {
    display: none;
  }

  .highlight {
    width: inherit;
  }

  article {
    width: 100%;
  }  
}
