.container {
  margin: 1em;
  max-width: 96%;
}

.content__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.content__title h2 {
  margin-bottom: 0;
}

.content__top {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #9d9d9d;
  width: 100%;
}

.content__desc {
  flex: 1;
  align-self: flex-end;
}

.content__meta {
  font-size: 12px;
  color: blueviolet;
  opacity: 0.8;
  font-family: monospace;
  text-align: left;
}

.content__main {
  margin-bottom: 5rem;
}

.content__thumb_container {
  align-self: flex-end;
}

.content__thumb_container img {
  width: 150px;
  max-height: 150px;
}

/* ======== syntax highlighting ======== */

.highlight > pre {
  border: 2px solid blueviolet;
  border-radius: 0.5rem;
}

pre {
  padding: 10px;
  width: inherit;
  margin: 0;
}

pre a {
  color: #c57d7d;
}
