:root {
  --main-color: blueviolet;
  --secondary-color: lavender;
  --third-color: #bd93f9;
  --text-color: #000000;
  --gray-color: #4e4e4e;
  --link-color: blueviolet;
  --mc-serif-font: "medium-content-serif-font", Georgia, Cambria, "Times New Roman", Times, serif;
  --monospace-font: monospace;
}

body {
  line-height: 1.42857143;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--mc-serif-font);
  text-rendering: optimizelegibility;
  letter-spacing: 0px;
}

h1 {
  font-size: 34px;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.316667px;
  line-height: 31.7167px;
}

h4 {
  color: var(--main-color);
  opacity: 0.8;
}

article {
  padding: 1em;
}

p > code, p > a > code {
  padding: 0.2rem 0.4rem;
  background: #8a2be233;
  border: 1px solid #8a2be233;
  border-radius: 0.4rem;
}

p, ul, li, a {
  color: #000;
  margin: 0;
  padding-inline-start: 0;
}

p {
  display: block;
  line-height: 1.58;
}

p img {
  margin: 0;
}

p a {
  color: #000;
}

p > a {
  color: var(--main-color);
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 52px;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 0.8;
}

video {
  max-width: 100%;
}

.action-btn {
  font-size: 1em;
  font-weight: 800;
  background-color: var(--third-color);
  color: white;
  padding: 10px;
}

.action-btn2 {
  font-size: 1em;
  font-weight: 800;
  background-color: var(--secondary-color);
  color: black;
  padding: 5px 20px 5px 20px;
  border: 1px solid black;
}

.purple-border {
  border: 2px solid var(--main-color);
}