<style>
  .li-description {
    font-size: 12px;
    color: #373636;
    opacity: 0.8;
    font-family: var(--monospace-font);
    vertical-align: top;
    padding-inline-start: 0;
  }
</style>

<li style="list-style: none; margin-bottom: 5px;">
  <div>
    ▲ <a href="{{ .Permalink }}">{{ .Title | title }}</a>
  </div>

  <div>
    <span class="li-description">
      {{ if isset .Params "tags" }}
        {{ if gt (len .Params.tags) 0 }}
        
        tags:    
          {{ range $value := .Params.tags }}
          {{ $tagUrl := (printf "/%s/%s" "tags" $value) }}

            <a class="posts-list-tags" href="{{ $tagUrl | absURL }}">#{{ $value }}</a>
            {{ end }}
        {{ end }}
      {{ end }}
    </span>    
  </div>
</li>