{{ $baseUrl := .Site.BaseURL }}

<li class="posts-list-item">
  <div>
    ► <a href="{{ .Permalink }}">{{ .Title | title }}</a>
  </div>

  <div>
    <span class="posts-list-item-description">
      {{ if isset .Params "tags" }}
        {{ if gt (len .Params.tags) 0 }}
        >

        tags:    
          {{ range $value := .Params.tags }}
          {{ $tagUrl := (printf "/%s/%s" "tags" $value) }}

            <!-- <a class="posts-list-tags" href="{{ $baseUrl }}tags/{{ . }}">#{{ $value }}</a> -->
            <a class="posts-list-tags" href="{{ $tagUrl | absURL }}">#{{ $value }}</a>
            {{ end }}
        {{ end }}
      {{ end }}
    </span>    
  </div>
</li>