<li style="list-style: none; margin-bottom: 5px;">
  <div>
    ▲ <a href="{{ .Permalink | absURL }}">{{ .Title | title }}</a>
  </div>

  <div>
    <span class="li-description">
      {{ if isset .Params "tags" }}
        {{ if gt (len .Params.tags) 0 }}
        
        tags:    
          {{ range $value := .Params.tags }}
          {{ $tagUrl := (printf "/%s/%s" "tags" $value) }}

            <a class="posts-list-tags" href="{{ $tagUrl | relURL }}">#{{ $value }}</a>
            {{ end }}
        {{ end }}
      {{ end }}
    </span>    
  </div>
</li>