{{ define "main" }}
<article>
  <div class="content__container container">
    <div class="content__top container">
      <div class="content__thumb_container">
        <div>
          <img src="{{ .Params.Thumbnail_URL }}"></img>
        </div>
      </div>
      <div class="content__desc container">
        <div class="content__title">
          <h2>{{ .Title }}</h2>
        </div>
        <div class="posts-list-item-description" style=" border-bottom: 1px solid;
        display: flex;">
          <span>
            by {{ .Params.Author }},&nbsp
          </span>
          <span>
            {{ .Date.Format "January 2, 2006" }}
          </span>
        </div>        
      </div>  
    </div>

    <div class="content__main container">
      {{ .Content }}
    </div>
  </div>

  {{ if isset .Params "disable_comments" }}
  {{ else }}
    {{ partial "meta/comments.html" . }}
  {{ end }}

</article>
{{ end }}