{{ define "main" }}
<article>
  <div class="content__container container">
    <div class="content__top">
      {{ if isset .Params "Thumbnail_URL" }}
      <div class="content__thumb_container">
        <div>
          <img src="{{ .Params.Thumbnail_URL }}"></img>
        </div>
      </div>
      {{ end}}
      <div class="content__desc">
        <div class="content__title">
          <h2>{{ .Title }}</h2>
        </div>
        <div class="content__meta">
          <span style="padding-left: 5px;"></span>
            <span>
              ► by {{ .Params.Author }},&nbsp
            </span>
              ⌗ Updated on: 
          <span>
           {{ .Date.Format "January 2, 2006" }}
          </span>
        </div>        
      </div>  
    </div>

    <div class="content__main container">
      {{ .Content }}
    </div>
  </div>

  {{ if isset .Params "disable_comments" }}
  {{ else }}
    {{ partial "meta/comments.html" . }}
  {{ end }}

</article>
{{ end }}