{{ $command := .Params.terminal_command }}

<div class="content__example_command">
  {{ if isset .Params "terminal_command" }}
    {{ highlight $command "bash" "" }}
    <div class="actions">
      <button class="action-btn" id="copy-command-btn">Copy to clipboard</button>
      <button class="action-btn" id="wasm-try-btn">Try it online</button>  
    </div>
  {{ end }}
</div>

<script type="application/javascript">
  var copyBtn = document.getElementById("copy-command-btn")
  var wasmBtn = document.getElementById("wasm-try-btn")

  var copy = (text) => {
    window.navigator.clipboard.writeText(text)
    .then(() => {
      alert("Copied to clipboard!");
    })
    .catch(err => {
      console.log('Something went wrong', err);
    });
  }

  var handleCopy = (e) => {
    e.preventDefault()
    const cmd = {{ $command }};
    copy(cmd)
  }

  var handleTryWasm = (e) => {
    e.preventDefault()
    alert("Our WebAssembly FFmpeg Player is currently under construction. With your support, we can make it happen sooner! ;)")
  }

  copyBtn.onclick = handleCopy;
  wasmBtn.onclick = handleTryWasm;
</script> 