<style>
  .content__top {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #9d9d9d;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2em;
  }
</style>

<div class="content__top">
  <div class="content__title">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="content__actions">
    {{ if isset .Params "filename" }}
      {{ $editUrl := (printf "%s/%s" "https://github.com/eladg/ffmpeg-by-example/edit/main/content/examples/" .Params.Filename) }}
      <button class="action-btn2" onclick="window.open('{{$editUrl | absURL}}','_blank')">Edit</button>
    {{ else }}
      <button class="action-btn2">Edit</button>
    {{ end }}    
  </div>
</div>