{{ $isHome := true }}

<style>
  .homepage-top-message {
    border: 2px solid;
    border-color: var(--link-color);
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .homepage-top-message b {
    font-weight: 800;
  }
</style>


<article>  
  <div class="homepage-top-message">
    <b>FFmpeg By Example</b> is a documentation website to present all the unique and different ways to use FFmpeg. </br>Got a cool idea to share with the community?
    <a href="contribute">Send your contribution here!</a>
  </div>

  <div class="homepage-recent">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "examples") }}

    {{ range $index, $page := .Paginator.Pages }}
      <ul class="posts-list">
        {{ partial "list/item.html" $page }}
      </ul>
    {{ end }}
  </div>
</article>