{{ $isHome := true }}

<article>  
  <div class="purple-border homepage-top-message">
    <b>FFmpeg By Example</b> is a documentation website to showcase all the unique and different ways to use FFmpeg. </br>Got a cool idea to share with the community?
    <a href="{{ "contribute" | relURL }}">Send your contribution here!</a>
  </div>

  <div class="purple-border homepage-random-example">
    {{ range first 1 ((where .Site.RegularPages "Type" "examples") | shuffle) }}
      <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
      <div style="display: flex; flex-direction: column;">
        {{ partial "posts/players/player.html" . }}
        {{ partial "posts/terminal/highlight.html" . }}  
      </div>
    {{ end }}

  </div>

  <div class="homepage-recent">
    <h4>All Examples</h4>

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "examples") }}

    {{ range $index, $page := .Paginator.Pages }}
      <ul class="posts-list">
        {{ partial "list/item.html" $page }}
      </ul>
    {{ end }}

    {{ partial "pagination.html" $ }}
  </div>

  <div class="footer" style="margin-top: 4em;">
    <hr/>
    <p>Support us by <a href="https://ko-fi.com/ffmpegbyexample">donating a coffee here!</a> 🙏</p>
    <p>Made with 💜 by <a href="https://www.gariany.com">Gariany</a> & the <a href="https://discord.gg/NDZ4m9ZdqF">FFmpeg Discord Community</a></p>
  </div>
</article>