<div class="menubar">
  <div class="logo">
    <a href="/"><img src="/img/ffmpeg-by-example.png" alt="ffmpegbyexample.com"></img></a>
  </div>

  {{ partial "search.html" . }}

  <div class="menu-items">
    <nav>
      <ul>
        <li><a href="/download"><span>download</span></a></li>
        <li><a href="https://github.com/eladg/ffmpeg-by-example" target="_blank"><span>github</span></a></li>
        <li><a href="https://discord.gg/NDZ4m9ZdqF" target="_blank" rel="noopener"><span>community</span></a></li>
        <li><a href="/contribute"><span>send yours</span></a></li>
      </ul>
    </nav>
  </div>
</div>