<style>
  .menubar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--menubar-gradient);
    height: var(--side-height);
    border-bottom: 2px solid #e7bde2;
    backdrop-filter: blur(2px);
  }

  .menubar div {
    display: flex;
    flex-grow: 0;
    padding-left: 1em;
    padding-right: 1em;
  }

  .menubar .search-container {
    flex-grow: 2;
    max-width: 500px;
  }

  .menubar .logo {
    width: 150px;
  }
  .menubar .logo img {
    max-width: 120px;
  }

  .menubar .search {
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
  }

  .menubar .logo a {
    color: #e2e2e2;
    font-size: 14px;
  }

  .menubar a {
    text-decoration: none;
  }

  .menubar nav ul {
    display: flex;
    list-style: none;  
    justify-content: space-evenly;
    align-items: center;
  }

  .menubar nav ul li {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    font-family: monospace;
  }

  .menubar nav ul li :hover {
    color: var(--link-color);
    text-decoration: underline;
  }

  .menubar nav span {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 500;
  }

  @media screen and (max-width: 630px) {
    .menubar .search {
      display: none;
    }
  }
</style>

<div class="menubar">
  <div class="logo">
    <a href="/"><img src="/img/ffmpeg-by-example.png" alt="ffmpegbyexample.com"></img></a>
  </div>

  {{ partial "search.html" . }}

  <div class="menu-items">
    <nav>
      <ul>
        <li><a href="https://github.com/eladg/ffmpeg-by-example" target="_blank"><span>github</span></a></li>
        <li><a href="https://discord.gg/NDZ4m9ZdqF" target="_blank" rel="noopener"><span>community</span></a></li>
        <li><a href="/contribute"><span>send yours</span></a></li>
      </ul>
    </nav>
  </div>
</div>