{{ with $.Paginator }}
  {{ if gt .TotalPages 1 }}
      <ul class="pagination">
    
        {{ with .Prev }}
        <li>
          <a class="pagination-link" href="{{ .URL }}">
            <
          </a>
        </li>
        {{ end }}

        {{ range .Pagers }}
        <li {{ if eq .PageNumber $.Paginator.PageNumber }} class="pagination-active" {{ end }}>
          <a class="pagination-link" href="{{ .URL }}">
            {{ .PageNumber }}
          </a> 
        </li>
        {{ end }}
        
        {{ with .Next }}
        <li>
          <a class="pagination-link" href="{{ .URL }}">
            >
          </a>
        </li>
        {{ end }}

      </ul>
  {{ end }}
{{ end }}