{{ $baseUrl := .Site.BaseURL }}

<div class="sidebar">
  <nav>
    <ul>
      <li>
        <a href='/'><span>Home</span></a>
      </li>

      <li>
        <a href='/about'><span>About</span></a>
      </li>
    
      <li>
        <a href='https://github.com/eladg/ffmpeg-by-example' target="_blank"><span>Contribute</span></a>
      </li>
    </ul>
  </nav>

  <hr/>

  <div class="tag-list">
    <ul>
    {{ range $key, $value := .Site.Taxonomies.tags }}
      <li><a href="{{ $baseUrl }}tags/{{ $key | urlize  }}">#{{ $key | lower }}</a></li>
    {{ end }}
    </ul>
  </div>
</div>