{{ $baseUrl := .Site.BaseURL }}

<div class="sidebar">
  <nav>
    <ul>
      <li><a href='/'><span>Home</span></a></li>
      <li><a href='/about'><span>About</span></a></li>
      <li><a href='/contribute'><span>Contribute</span></a></li>
      <li><a href="https://discord.gg/NDZ4m9ZdqF" target="_blank"><span>Discord</span></a></li>
    </ul>
  </nav>

  <hr/>

  <div class="tag-list">
    <ul>
    {{ range $key, $value := .Site.Taxonomies.tags }}
      <li><a href="{{ $baseUrl }}tags/{{ $key | urlize  }}">#{{ $key | lower }}</a></li>
    {{ end }}
    </ul>
  </div>

  <div>
    {{ partial "meta/donation.html" }}
  </div>
</div>